{% extends 'base.html' %} {% block content %}

<h1 class="has-text-centered title is-1 has-text-black">GAME DETAILS</h1>
<div class="has-text-left single-spaced" style="top: 50px;">
<div class="row">
  <div class="sign">
  
        <span class="card-title">{{ redcup.name }}
        <p><u> Rules:</u> {{ redcup.rules }}</p>
        <p><u>Players:</u> {{ redcup.players }}</p>
        <p>
          <u>Link:</u>
          <a href="{{ redcup.link }}" target="_blank">Click Here</a>
        </p>
        <p><u>User:</u> {{ redcup.user.username }}</p></span>
      {% if user.username == redcup.user.username %}
      <div class="card-action">
        <br>
        <a class="editD" href="{% url 'redcup_update' redcup.id %}">Edit</a>

        <a class="editD" href="{% url 'redcup_delete' redcup.id %}">Delete</a>
      </div>
      {% endif %}
</div>
</div>
</div>
<div class="row">
<div class="sign">
{% for photo in redcup.photo_set.all %}

<div class="has-text-centered single-spaced" style="top: 50px;">
      <img class="responsive-img card-panel" src="{{photo.url}}">
  {% if user.username == photo.redcup.user.username %}
  <div class="sign">
      <form action="{% url 'photo_delete' photo.id %}" method="POST">
        {% csrf_token %}
        <input type="submit" class="btn" value="delete">
      </form>

  {% endif %}
</div>      
    {% empty %}
      <div class="card-panel teal-text center-align"></div>
    {% endfor %}
    <form action="{% url 'add_photo' redcup.id %}" enctype="multipart/form-data" method="POST" class="card-panel">
      {% csrf_token %}
      <input type="file" style="width: 300px" class="btn" name="photo-file">
      <br><br>
      <input type="submit" class="btn" value="Upload Photo">
    </form>
  </div>
</div>
</div>

<div class="comment">   
  <div class="is-pulled-left">
  <div class="has-text-centered single-spaced" style="top: 50px;"></div>
  <form action="{% url 'add_comment' redcup.id %}" method="post">
    {% csrf_token %} {{ comment_form.as_p }}
    <br><input type="submit" class="btn commentBtn" value="Add A Comment" /><br><br>
  </form>
  <table class="striped">
    <thead>
      <tr>
        <th><u>Date</u></th>
        <th><u>User</u></th>
        <th><u>Comment</u></th>
      </tr>
    </thead>
    <tbody>
      {% for comment in redcup.comment_set.all %}
      <tr>
        <td>{{comment.created_date}}</td>
        <td>{{comment.user.username}}</td>
        {% if user.username == comment.user.username %}
        <td>
          <form action="{% url 'comment_update' comment.id%}" method="post">
            {{comment.comment}} {% csrf_token %} {{ comment_form.as_p }}
            <div class="updateComment"><input type="submit" class="btn" value="Update Comment" /></div>
          </form>
        </td>
        <td><a class="editD" href="{% url 'comment_delete' comment.id %}">Delete</a></td>
        {% else %}
        <td>{{comment.comment}}</td>
        {% endif %} {% endfor %}
      </tr>
    </tbody>
  </table>

  <div class="card-action"></div>
</div>
</div>
{% endblock %}
