{% extends 'base.html' %} {% block content %}

<h1 class="has-text-centered title is-1 has-text-black">DRINKING GAMES</h1>

{% for redcup in redcups %}
<div class="has-text-centered single-spaced" style="top: 50px;">
  <div class="sign">
  <a href="{% url 'detail' redcup.id %}">
    <div class="card-content">
      <span class="card-title">{{ redcup.name }}</span>
      <p>Rules: {{ redcup.rules }}</p>
      <p>Players: {{ redcup.players }}</p>
      <p>User: {{ redcup.user.username }}</p>
    </div>
  </a>
</div>
<br>
</div>
{% endfor %} {% endblock %}
