{% extends 'base.html' %}

{% block content %}
  {% if object %}
    <h1>Edit <span class="teal-text">{{object.name}}</span></h1>
  {% else %}
<div class="is-overlay has-text-centered single-spaced" style="top: 50px;">
  <h1 class="title is-3 has-text-black">ADD DRINKING GAME</h1>
  {% endif %}
  <div class="sign">
  <form action="" method="post">
    {% csrf_token %}
    <table>
      {{ form.as_table }}
    </table>
    <input type="submit" value="Submit!" class="btn">
  </div>
  </form>
</div>
{% endblock %}