
{% extends 'base.html' %}

{% block content %}

<div class="sign">
<h1 class="title has-text-centered is-3 has-text-black">Delete Game</h1>

  <h4 class="title has-text-centered is-5 has-text-black">Are you sure you want to delete <span class="teal-text">{{ object.name }}</span>?</h4>
  <form action="" method="POST">
    {% csrf_token %}
  <div class="confirmDelete">
    <input type="submit" value="Yes - Delete!" class="btn"><br>
    <a href="{% url 'detail' redcup.id %}">Cancel</a>
  </div>
  </form>
</div>
</div>
{% endblock %}