{% extends 'base.html' %} {% block content %}
{% if user.is_authenticated %}
<h1>Red Cup Games</h1>
<hr />
<p>Drink Hard! Play Hard!</p>
{% else %}
<h1>Welcome to Red Cup Games</h1>
<h2>A place where you can find and share drinking games.</h2>
<hr />
<p>Are you over 21?</p>
<form action="{% url 'signup' %}" method="get">
  {% csrf_token %}
  <input type="submit" class="btn" value="Yes" />
</form>
<br />
<a
  class="btn"
  href="https://www.fisher-price.com/en-us/shop/age/baby-on-the-way"
  >I'm under 21</a
>
{% endif %}
{% endblock %}
