{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Red Cup Games</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/style.css' %}"
    />
  </head>
  <body>
    <header class="navbar-fixed">
      <nav>
        <div class="nav-wrapper">
          <ul>
            <li>
              <a href="/" class="left brand-logo">&nbsp;&nbsp;Red Cup Games</a>
            </li>
          </ul>
          <ul class="right">
            {% if user.is_authenticated %}
            <li><a href="{% url 'home' %}">Home</a></li>

            <li>
              <a href="{% url 'redcups_create' %}">Create A Drinking Game</a>
            </li>
            <li><a href="{% url 'index' %}">View All Drinking Games</a></li>
            <li><a
              href="http://js-drinking.projects.frank.petril.li/" target="_blank"
              >JS Drinking Game</a
            ></li>
            <button onclick="myFunction()">Chat Room</button>
            <li><a href="{% url 'logout' %}">{{user.username}}</a></li>
            {% else %}
            <li><a href="{% url 'signup' %}">Sign Up</a></li>
            <li><a href="{% url 'login' %}">Log In</a></li>
            {% endif %}
          </ul>
        </div>
      </nav>
    </header>
    <main class="container">
      {% block content %} {% endblock %}
    </main>
    <footer class="page-footer">
      <div class="right">
        All Rights Reserved, &copy; 2020 Red Cup Games &nbsp;
      </div>
    </footer>
    <script>
      function myFunction() {
        var newWin = window.open(
          "/chat/room/",
          "example",
          "width=550,height=400"
        );
      }
    </script>
  </body>
</html>
