{% load static %}

<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Red Cup Games</title>
		<link rel="stylesheet" 
        href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.0/css/bulma.min.css">
		<script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
	</head>
<body>
  <section class="hero is-fullheight">
    <div class="hero-head">
      <div class="columns is-mobile is-marginless heading has-text-weight-bold is-size-6">
        <div class="column left">
          <p class="navbar-item has-text-danger">RED CUP GAMES</p>
        </div>
        {% if user.is_authenticated %}
        <div class="column center desktop">
          <a class="navbar-item has-text-danger desktop" href="{% url 'home' %}">HOME</a>
          <a class="navbar-item has-text-danger desktop" href="{% url 'redcups_create' %}">CREATE DRINKING GAME</a>
          <a class="navbar-item has-text-danger desktop" href="{% url 'index' %}">ALL DRINKING GAMES</a>
            </div>
        <div class="column right  ">
          <a class="navbar-item has-text-danger desktop" href="https://redcupchat.herokuapp.com/" 
              target="popup" 
              onclick="window.open('https://redcupchat.herokuapp.com/','popup','width=600,height=600'); return false;">
              Chat
          </a>
          <a class="navbar-item has-text-danger desktop" href="{% url 'logout' %}">{{user.username}}(LOG OUT)</a>
          {% else %}
          <a class="navbar-item has-text-danger desktop" href="{% url 'signup' %}">SIGN UP</a>
          <a class="navbar-item has-text-danger desktop" href="{% url 'login' %}">SIGN IN</a>
          {% endif %}
        </div>
      </div>
    <main class="container">
      {% block content %} {% endblock %}
    </main>
  </body>
</html>
